<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ipd.taxiu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />


    <application
        android:name=".platform.global.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity-alias
            android:name=".launcher"
            android:targetActivity=".ui.activity.account.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask" />

        <activity android:name=".ui.activity.SignInActivity" />

        <!-- account-->
        <activity android:name=".ui.activity.account.LoginActivity" />
        <activity android:name=".ui.activity.account.PhoneLoginActivity" />
        <activity android:name=".ui.activity.account.RegisterActivity" />
        <activity android:name=".ui.activity.account.LostPwdActivity" />
        <activity android:name=".ui.activity.account.PetStageActivity" />
        <activity android:name=".ui.activity.account.PetKindActivity" />
        <activity android:name=".ui.activity.account.PetKindListActivity" />

        <!-- topic-->
        <activity android:name=".ui.activity.topic.TopicIndexActivity" />
        <activity android:name=".ui.activity.topic.TopicDetailActivity" />
        <activity android:name=".ui.activity.topic.PublishTopicCommentActivity" />
        <activity android:name=".ui.activity.topic.TopicPeopleCommentActivity" />
        <activity android:name=".ui.activity.topic.MoreCommentActivity" />

        <!-- talk-->
        <activity android:name=".ui.activity.talk.TalkIndexActivity" />
        <activity android:name=".ui.activity.talk.TalkDetailActivity" />
        <activity android:name=".ui.activity.talk.PublishTalkActivity" />

        <!-- classRoom-->
        <activity android:name=".ui.activity.classroom.ClassRoomIndexActivity" />
        <activity android:name=".ui.activity.classroom.ClassRoomDetailActivity" />
        <activity android:name=".ui.activity.classroom.OwnedClassRoomActivity" />

        <!-- taxiu-->
        <activity android:name=".ui.activity.taxiu.TaxiuDetailActivity" />


        <!-- trade-->
        <activity android:name=".ui.activity.trade.ConfirmOrderActivity" />

        <!-- store-->
        <activity android:name=".ui.activity.store.StoreSecondIndexActivity" />
        <activity android:name=".ui.activity.store.StoreSpecialActivity" />
        <activity android:name=".ui.activity.store.StoreSearchActivity" />
        <activity android:name=".ui.activity.store.ProductListActivity" />
        <activity android:name=".ui.activity.store.ProductDetailActivity" />
        <activity android:name=".ui.activity.store.flashsale.FlashSaleActivity" />
        <activity android:name=".ui.activity.store.grouppurchase.GroupPurchaseActivity" />
        <activity android:name=".ui.activity.store.NewProductListActivity" />
        <activity android:name=".ui.activity.store.ClearanceProductActivity" />
        <activity android:name=".ui.activity.store.video.StoreVideoIndexActivity" />
        <activity android:name=".ui.activity.store.video.StoreVideoDetailActivity" />
        <activity android:name=".ui.activity.store.ProductCategoryActivity" />


        <!-- 裁剪-->
        <activity android:name=".ui.activity.CropActivity" />
        <activity android:name=".ui.activity.PhotoSelectActivity" />
        <activity
            android:name=".ui.activity.PictureLookActivity"
            android:theme="@style/FullScreenStyle" />

        <!-- 订单 -->
        <activity android:name=".ui.activity.order.MyOrderActivity" />
        <activity android:name=".ui.activity.order.OrderDetailActivity" />
        <activity android:name=".ui.activity.order.LogisticsDetailActivity" />
        <activity android:name=".ui.activity.order.EvaluateActivity" />
        <activity android:name=".ui.activity.order.RequestReturnActivity" />
        <activity android:name=".ui.activity.order.RequestReturnMoneyActivity" />
        <activity android:name=".ui.activity.order.ReturnMoneyCommodityActivity" />
        <activity android:name=".ui.activity.order.ReturnDetailActivity" />
        <activity android:name=".ui.activity.order.ReturnRecordDetailActivity" />
        <activity android:name=".ui.activity.order.ExpressInfoActivity" />
        <activity android:name=".ui.activity.order.ReturnNoPassActivity" />

        <!-- 设置-->
        <activity android:name=".ui.activity.setting.SettingActivity" />
        <activity android:name=".ui.activity.setting.UpdatePasswordActivity" />
        <activity android:name=".ui.activity.setting.AboutUsActivity" />
        <activity android:name=".ui.activity.setting.CommonProblemActivity" />
        <activity android:name=".ui.activity.message.MessageActivity" />
        <activity android:name=".ui.activity.referral.ReferralCodeActivity" />
        <activity android:name=".ui.activity.referral.FriendListActivity" />
        <activity android:name=".ui.activity.referral.HomepageActivity" />
        <activity android:name=".ui.activity.referral.RecommendEarningsActivity" />
        <activity android:name=".ui.activity.address.AddAddressActivity" />
        <activity android:name=".ui.activity.address.DeliveryAddressActivity" />
        <activity android:name=".ui.activity.mine.PersonInformationActivity" />
        <activity android:name=".ui.activity.pet.PetBibleActivity"/>
        <activity android:name=".ui.activity.pet.MyPetActivity"/>
        <activity android:name=".ui.activity.pet.PetInformationActivity"/>
        <activity android:name=".ui.activity.pet.AddPetActivity"/>
        <activity android:name=".ui.activity.mine.EditTagActivity"/>
        <activity android:name=".ui.activity.setting.MyCollectActivity"/>
        <activity android:name=".ui.activity.setting.SocialContactActivity"/>
        <activity android:name=".ui.activity.group.GroupBookingActivity"/>
        <activity android:name=".ui.activity.group.GroupDetailActivity"/>
        <activity android:name=".ui.activity.coupon.MyIntegralActivity"/>
        <activity android:name=".ui.activity.coupon.IntegralRuleActivity"/>
        <activity android:name=".ui.activity.coupon.IntegralExchangeActivity"/>
        <activity android:name=".ui.activity.coupon.CouponDetailActivity"/>
        <activity android:name=".ui.activity.coupon.ExchangeRecordActivity"/>
        <activity android:name=".ui.activity.coupon.ExchangeRecordDetailActivity"/>
        <activity android:name=".ui.activity.coupon.DiscountCouponActivity"/>
        <activity android:name=".ui.activity.balance.MyBalanceActivity"/>
        <activity android:name=".ui.activity.balance.BalanceBillActivity"/>
        <activity android:name=".ui.activity.balance.WithdrawDepositActivity"/>
        <activity android:name=".ui.activity.balance.BankCardActivity"/>
        <activity android:name=".ui.activity.balance.AddBankCardActivity"/>
        <activity android:name=".ui.activity.balance.UpdateBankCardActivity"/>

        <!-- mine-->
        <activity android:name=".ui.activity.mine.published.PublishedTaxiuActivity" />
        <activity android:name=".ui.activity.mine.published.MineClassRoomActivity" />
        <activity android:name=".ui.activity.mine.published.MineJoinTopicActivity" />
        <activity android:name=".ui.activity.mine.published.PublishedTalkActivity" />

    </application>

</manifest>