<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ipd.rainbow">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />


    <application
        android:name="com.ipd.rainbow.platform.global.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name">


        <activity-alias
            android:name=".launcher"
            android:targetActivity="com.ipd.rainbow.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name="com.ipd.rainbow.SplashActivity"
            android:theme="@style/FullScreenStyle" />
        <activity
            android:name="com.ipd.rainbow.WelcomeActivity"
            android:theme="@style/FullScreenStyle" />
        <activity
            android:name="com.ipd.rainbow.MainActivity"
            android:launchMode="singleTask" />

        <activity android:name="com.ipd.rainbow.ui.activity.SignInActivity" />
        <activity android:name="com.ipd.rainbow.ui.activity.web.WebActivity" />


        <!-- account-->
        <activity android:name="com.ipd.rainbow.ui.activity.account.LoginActivity" />
        <activity android:name="com.ipd.rainbow.ui.activity.account.PhoneLoginActivity" />
        <activity android:name="com.ipd.rainbow.ui.activity.account.RegisterActivity" />
        <activity android:name="com.ipd.rainbow.ui.activity.account.LostPwdActivity" />
        <activity android:name="com.ipd.rainbow.ui.activity.account.BindingPhoneActivity" />

        <!-- trade-->
        <activity android:name="com.ipd.rainbow.ui.activity.trade.ConfirmOrderActivity" />
        <activity android:name="com.ipd.rainbow.ui.activity.trade.CartCouponActivity" />

        <!-- store-->
        <activity android:name="com.ipd.rainbow.ui.activity.store.StoreSecondIndexActivity" />
        <activity android:name="com.ipd.rainbow.ui.activity.store.StoreSpecialActivity" />
        <activity android:name="com.ipd.rainbow.ui.activity.store.StoreSearchActivity" />
        <activity
            android:name="com.ipd.rainbow.ui.activity.store.ProductListActivity"
            android:launchMode="singleTask" />
        <activity android:name="com.ipd.rainbow.ui.activity.store.ProductDetailActivity" />
        <activity android:name="com.ipd.rainbow.ui.activity.store.flashsale.FlashSaleActivity" />
        <activity android:name="com.ipd.rainbow.ui.activity.store.grouppurchase.GroupPurchaseActivity" />
        <activity android:name="com.ipd.rainbow.ui.activity.store.NewProductListActivity" />
        <activity android:name="com.ipd.rainbow.ui.activity.store.ClearanceProductActivity" />
        <activity android:name="com.ipd.rainbow.ui.activity.store.video.StoreVideoIndexActivity" />
        <activity
            android:name="com.ipd.rainbow.ui.activity.store.video.StoreVideoDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name="com.ipd.rainbow.ui.activity.store.ProductCategoryActivity" />


        <!-- 裁剪-->
        <activity android:name="com.ipd.rainbow.ui.activity.CropActivity" />
        <activity android:name="com.ipd.rainbow.ui.activity.PhotoSelectActivity" />
        <activity
            android:name="com.ipd.rainbow.ui.activity.PictureLookActivity"
            android:theme="@style/FullScreenStyle" />
        <activity
            android:name="com.ipd.rainbow.ui.activity.PictureAndVideoPreviewActivity"
            android:theme="@style/FullScreenStyle" />

        <!-- 订单 -->
        <activity android:name="com.ipd.rainbow.ui.activity.order.MyOrderActivity" />
        <activity android:name="com.ipd.rainbow.ui.activity.order.OrderDetailActivity" />
        <activity android:name="com.ipd.rainbow.ui.activity.order.LogisticsDetailActivity" />
        <activity android:name="com.ipd.rainbow.ui.activity.order.EvaluateActivity" />
        <activity android:name="com.ipd.rainbow.ui.activity.order.RequestReturnActivity" />
        <activity android:name="com.ipd.rainbow.ui.activity.order.RequestReturnMoneyActivity" />
        <activity android:name="com.ipd.rainbow.ui.activity.order.ReturnMoneyCommodityActivity" />
        <activity android:name="com.ipd.rainbow.ui.activity.order.ReturnDetailActivity" />
        <activity android:name="com.ipd.rainbow.ui.activity.order.ReturnRecordDetailActivity" />
        <activity android:name="com.ipd.rainbow.ui.activity.order.ExpressInfoActivity" />
        <activity android:name="com.ipd.rainbow.ui.activity.order.ReturnNoPassActivity" />

        <!-- 设置-->
        <activity android:name="com.ipd.rainbow.ui.activity.setting.SettingActivity" />
        <activity android:name="com.ipd.rainbow.ui.activity.setting.UpdatePasswordActivity" />
        <activity android:name="com.ipd.rainbow.ui.activity.setting.AboutUsActivity" />
        <activity android:name="com.ipd.rainbow.ui.activity.setting.CommonProblemActivity" />
        <activity android:name="com.ipd.rainbow.ui.activity.message.MessageActivity" />
        <activity android:name="com.ipd.rainbow.ui.activity.referral.ReferralCodeActivity" />
        <activity android:name="com.ipd.rainbow.ui.activity.address.AddAddressActivity" />
        <activity android:name="com.ipd.rainbow.ui.activity.address.DeliveryAddressActivity" />
        <activity android:name="com.ipd.rainbow.ui.activity.group.GroupBookingActivity" />
        <activity android:name="com.ipd.rainbow.ui.activity.group.GroupDetailActivity" />
        <activity android:name="com.ipd.rainbow.ui.activity.coupon.MyIntegralActivity" />
        <activity android:name="com.ipd.rainbow.ui.activity.coupon.IntegralRuleActivity" />
        <activity android:name="com.ipd.rainbow.ui.activity.coupon.IntegralExchangeActivity" />
        <activity android:name="com.ipd.rainbow.ui.activity.coupon.CouponDetailActivity" />
        <activity android:name="com.ipd.rainbow.ui.activity.coupon.ExchangeRecordActivity" />
        <activity android:name="com.ipd.rainbow.ui.activity.coupon.ExchangeRecordDetailActivity" />
        <activity android:name="com.ipd.rainbow.ui.activity.coupon.DiscountCouponActivity" />
        <activity android:name="com.ipd.rainbow.ui.activity.balance.MyBalanceActivity" />
        <activity android:name="com.ipd.rainbow.ui.activity.balance.BalanceBillActivity" />
        <activity android:name="com.ipd.rainbow.ui.activity.balance.WithdrawDepositActivity" />
        <activity android:name="com.ipd.rainbow.ui.activity.balance.BankCardActivity" />
        <activity android:name="com.ipd.rainbow.ui.activity.balance.AddBankCardActivity" />


        <!-- mine-->
        <activity android:name="com.ipd.rainbow.ui.activity.mine.UserInfoActivity" />
        <activity android:name="com.ipd.rainbow.ui.activity.message.MessageDetailActivity" />
        <activity android:name="com.ipd.rainbow.ui.activity.mine.VipActivity" />
        <activity android:name="com.ipd.rainbow.ui.activity.mine.MineCollectActivity" />

        <!-- jpush -->
        <receiver
            android:name="com.ipd.rainbow.receiver.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_CLICK_ACTION" />
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="com.ipd.taxiu" />
            </intent-filter>
        </receiver>


        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <!-- alipay sdk end -->


        <!-- 微信分享回调 -->
        <activity
            android:name="com.ipd.rainbow.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.ipd.rainbow.wxapi.WXPayEntryActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="true"
            android:screenOrientation="behind" />


    </application>

</manifest>